<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-12">
    <h1><%= 'Untitled' if @snippet.title == '' %> <%= @snippet.title %></h1>
    <label class="compact title-label">URL</label><input value="<%= @snippet.id %>" type="text"/><%= link_to 'Edit', edit_snippet_path(@snippet) %>
  </div>
</div>
<div class="row">
  <!-- Snippet content -->
  <div class="col-md-9 page" id="page">

  </div>
  <!-- Sidebar -->
  <div class="col-md-3 sidebar">
    Comments
  </div>
</div>

<script>
  var content = '<%= raw sanitize(j(@snippet.body)) %>';
  document.getElementById('page').innerHTML =
          marked(content);
</script>